body, #mainWrapper {
	height: 70%;
}
body, .form-control{
	font-size:12px!important;
}
.floatRight{
	float:right;
	padding-right:30%;
}
.has-error{
	color:red;
}
.formcontainer{
	padding: 20px;
}
.tablecontainer{
	padding: 50px;
}
.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}
.table>thead>tr>th {
    vertical-align: middle !important;
}
#loginreg{
	margin-top:120px;
	margin-left:10%;
	width: 70%;
}
.custom-width {
    width: 80px !important;
}

   