<div id="header" ng-include="'web-resources/partials/navadmin.html'"></div>  
<div class="tablecontainer">
 <br>      
    <table class="table table-hover">
                      <thead>
                          <tr>	
                          	  <th width="15%">Cover</th>
                              <th width="20%">Name</th>
                              <th width="20%">Authors</th>
                              <th width="10%">Code</th>
                              <th width="10%">Publish date</th>
                              <th width="10%">Price</th>
                              <th width="15%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="b in ctrl.books | orderBy:'name' | filter:search">
                              <td><img ng-src='web-resources/img/books/book-bookmark-icon.png' width="60px;"/></td>    
                              <td><span ng-bind="b.name"></span></td>
                              <td><span ng-bind="b.authors"></span></td>
                              <td><span ng-bind="b.code"></span></td>
                              <td><span ng-bind="b.publishedOn"></span></td>
                              <td><span ng-bind="b.price | currency"></span></td>
                              <td>
                              <button type="button" ng-click="ctrl.edit(b.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(b.id)" class="btn btn-danger custom-width">Remove</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <div style="padding-left:25%;">
              <div class="panel-heading"><span class="lead">Book Form</span></div>
              
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.book.id" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="uname">Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.book.name" id="bname" class="name form-control input-sm" placeholder="Enter the name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.bname.$error.required">This is a required field</span>
                                      <span ng-show="myForm.bname.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.bname.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="authors">Author</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.book.authors" id="bauthors" class="authors form-control input-sm" placeholder="Enter the authors" required ng-minlength="3"/>
                              </div>
                          </div>
                      </div>  
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="code">Code</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.book.code" id="code" class="form-control input-sm" placeholder="Enter the code."/>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="price">Price</label>
                              <div class="col-md-7">
                                  <input type="price" ng-model="ctrl.book.price" id="price" class="price form-control input-sm" placeholder="Enter the Price" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.price.$error.required">This is a required field</span>
                                      <span ng-show="myForm.price.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                     <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="isbn">ISBN</label>
                              <div class="col-md-7">
                                  <input type="isbn" ng-model="ctrl.book.isbn" id="isbn" class="isbn form-control input-sm" placeholder="Enter the ISBN" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.isbn.$error.required">This is a required field</span>
                                      <span ng-show="myForm.isbn.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                     <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="publisher">Publisher</label>
                              <div class="col-md-7">
                                  <input type="publisher" ng-model="ctrl.book.publisher" id="publisher" class="publisher form-control input-sm" placeholder="Enter publisher" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.publisher.$error.required">This is a required field</span>
                                      <span ng-show="myForm.publisher.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>     
                                       
                     <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="publishedOn">Published</label>
                              <div class="col-md-7">                              
								<input type="publishedOn" ng-model="ctrl.book.publishedOn" id="publishedOn" class="publishedOn form-control input-sm" placeholder="Enter date" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.publishedOn.$error.required">This is a required field</span>
                                      <span ng-show="myForm.publishedOn.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="form-actions floatRight" >
                              <input type="submit"  value="{{!ctrl.book.id ? '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' : 'Update'}}" class="btn btn-primary custom-width" ng-disabled="myForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning custom-width" ng-disabled="myForm.$pristine">Reset</button>
                          </div>
                      </div>
                  </form>
              </div>
  
          </div>

          
