<div id="header" ng-include="'web-resources/partials/navuser.html'"></div>  

<div class="tablecontainer">
<br>
        <div class="cart">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">	
            <!-- items -->
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td width="25%"><b>Item</b></td>
                    <td width="19%"><b>Quantity</b></td>
                    <td width="10%"><b>Price</b></td>
                    <td width="10%"><b>Remove</b></td>
                </tr>

                <!-- ctrl items -->
                <tr ng-repeat="item in ctrl.items | orderBy:'name'">
                    <td>{{item.name}}, {{item.authors}}</td>
                    <td class="tdCenter">
                      <div class="input-append">
                        <input
                            class="span3 text-center" type="tel" 
                            ng-model="item.quantity" 
                            ng-change="ctrl.saveItems()" />
                        <button 
                            class="btn btn-success" type="button" 
                            ng-disabled="item.quantity >= 1000"
                            ng-click="ctrl.addItem(item.id, item.name, item.authors, item.price, +1)">+</button>
                        <button 
                            class="btn btn-inverse" type="button" 
                            ng-disabled="item.quantity <= 1"
                            ng-click="ctrl.addItem(item.id, item.name, item.authors, item.price, -1)">-</button>
                      </div>
                    </td>
                    <td class="tdRight">{{item.price * item.quantity | currency}}</td>
                    
                    <td>
	                <button 
	                    class="btn btn-block btn-danger" 
	                    ng-click="ctrl.addItem(item.id, item.name, item.authors, item.price, -10000000)"> 
	                    <span class="glyphicon glyphicon-remove"></span> Remove
	                </button>
	                </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{ctrl.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{ctrl.getTotalPrice() | currency}}</b></td>
                    <td />
                </tr>                
            </table>
                <button 
                    class="btn btn-block " 
                    ng-click="ctrl.clearItems()" 
                    ng-disabled="ctrl.getTotalCount() < 1" >
                    <span class="glyphicon glyphicon-remove"></span> Clear cart
                </button>
                <button 
                    class="btn btn-block " 
                    ng-click="ctrl.checkout('Google')" 
                    ng-disabled="ctrl.getTotalCount() < 1">
                    <span class="glyphicon glyphicon-ok"></span> Check out
                </button>
        </div>
</div>
    </div>
