<div class="col-md-6 col-md-offset-3">
<div id="loginModal">
              <div class="modal-dialog">
                     <div class="modal-content">
                          
                           <!-- Header Section -->
                           <div class="modal-header">
                                  <h2>Please sign in</h2>
                           </div>
                          
                           <!-- Body Section -->
                           <div class="modal-body">
                                  <form class="form col-md-12" ng-submit="ctrl.login()">

                                         <input type="text" ng-model="ctrl.user.username" id="uname" class="form-control input-lg" placeholder="Email" required autofocus />
                                         
                                         <input type="password" ng-model="ctrl.user.password" id="password" class="form-control input-lg" placeholder="Password" required />
                                        
                                         <label class="checkbox"> <input type="checkbox"
                                                value="remember-me" /> Remember me
                                         </label>
                                        
                                         <button type="submit" class="btn btn-info btn-lg btn-block">Sign In</button>
                                  </form>
                           </div>
                          
                           <!-- Footer Section -->
                           <div class="modal-footer" style="border-top: 0px solid;">
                                  <div class="col-md-12">
                                         <span class="pull-left"><a href="#">Forgot Password?</a></span>
                                         <span><a href="#/register">Register</a></span>
                                  </div>
                           </div>
                     </div>
              </div>
       </div>
</div>