<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#/">Bookstore</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="#/books"><span class="glyphicon glyphicon-book"></span> Books</a></li>
		      <li><a href="#/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
		      <li><a href="#/upload"><span class="glyphicon glyphicon-upload"></span> Upload</a></li>
		      <li><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		    </ul>
		  </div>
</nav>