<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#/">Bookstore</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="#/products"><span class="glyphicon glyphicon-book"></span> Store</a></li>
		      <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
		      <li><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#/cart"><span class="glyphicon glyphicon-shopping-cart"></span>
		      <b>{{ctrl.getTotalCount()}}</b> items <b>{{ctrl.getTotalPrice() | currency}}</b>
              </a></li>
		    </ul>
		  </div>
</nav>