<div id="header" ng-include="'web-resources/partials/navuser.html'"></div>
<div class="tablecontainer">
<br>
<div class="container-fluid">
    <div class="row-fluid">
        <div  style="float: left; width:45%;">

            <!-- product info -->
            <table class="table table-bordered">
                <tr>
                    <b>Name</b></td>
                    <td><span ng-bind="ctrl.book.name"></span></td>
                    <td />                    
                    <td class="tdRight"><b>Authors</b></td>
                    <td><span ng-bind="ctrl.book.authors"></span></td>
                    <td />                    
                    <td class="tdRight"><b>Code</b></td>
                    <td><span ng-bind="ctrl.book.code"></span></td>
                    <td />                    
                    <td class="tdRight"><b>ISBN</b></td>
                    <td><span ng-bind="ctrl.book.isbn"></span></td>
                    <td />               
                    <td class="tdRight"><b>Publisher</b></td>
                    <td><span ng-bind="ctrl.book.publisher"></span></td>
                    <td />            
                    <td class="tdRight"><b>Published</b></td>
                    <td><span ng-bind="ctrl.book.published"></span></td>
                    <td />
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <div style="float:right; width:30%;">
            <button 
                class="btn btn-block btn-success" 
                ng-click="cart.addItem(book.id, book.name, book.price, 1)">
                <i class="icon-shopping-cart icon-white" /> Add to cart
            </button>
            <button 
                class="btn btn-block btn-danger" 
                ng-click="cart.addItem(book.id, book.name, book.price, -10000)"
                ng-disabled="cart.getTotalCount(book.id) < 1">
                <i class="icon-trash icon-white" /> Remove from cart
            </button>
            <button 
                class="btn btn-block" 
                onclick="window.location.href=''">
                <i class="icon-chevron-left" /> Back to store
            </button>
        </div>
    </div>
</div>
