<div class="col-md-6 col-md-offset-3">
<form id="loginreg" name="myForm" ng-submit="ctrl.submit()" role="form">
    <h2>Register</h2>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username"><h4>Username</h4></label>
            <input type="text" name="username" id="username" class="form-control" ng-model="ctrl.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password"><h4>Password</h4></label>
            <input type="password" name="password" id="password" class="form-control" ng-model="ctrl.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="username"><h4>Email</h4></label>
            <input type="text" name="email" id="email" class="form-control" ng-model="ctrl.user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.address.$dirty && form.address.$error.required }">
            <label for="username"><h4>Address</h4></label>
            <input type="text" name="address" id="Text1" class="form-control" ng-model="ctrl.user.address" required />
            <span ng-show="form.address.$dirty && form.address.$error.required" class="help-block">Address is required</span>
        </div>
        <div class="form-actions">              
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>