<div id="header" ng-include="'web-resources/partials/navuser.html'"></div>    
<div class="tablecontainer">
<br>
    <table class="table table-hover">
                      <thead>
                      
                          <tr>	
                          	  <th width="15%">Cover</th>
                              <th width="20%">Name</th>
                              <th width="20%">Authors</th>
                              <th width="15%">Code</th>
                              <th width="10%">Price</th>
                              <th width="25%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="b in ctrl.books | orderBy:'name' | filter:search">
                              <td><img ng-src='web-resources/img/books/book-bookmark-icon.png' width="60px;"/></td>    
                              <td><span ng-bind="b.name"></span></td>
                              <td><span ng-bind="b.authors"></span></td>
                              <td><span ng-bind="b.code"></span></td>
                              <td><span ng-bind="b.price | currency"></span></td>
                              <td>
                              <button type="button" ng-click="ctrl.addItem(b.id,b.name,b.authors,b.price,1)" class="btn btn-success custom-width"><span class="glyphicon glyphicon-plus"></span> Buy</button>     
                              <button type="button" ng-click="ctrl.productPage(b.id)" class="btn btn-success custom-width"><span class="glyphicon glyphicon-zoom-in"></span> Details</button>                   
                              </td>
                          </tr>
                      </tbody>
                  </table>
           </div>